div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div a {
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  background-color: #f1f1f1;
  color: black;
  width: auto;
  text-align: center;
  border-radius: 10rem;
  border: none;
}

div a:focus {
  color: #46681E;
}
