<app-header></app-header>
<div class="container">
  <img [src]="food.imageUrl" alt="img-of-food" />

  <div class="descriptionItem">
    <div>
      <span class="name">
        {{ food.name }}
      </span>

      <span class="favorite {{ food.favorite ? '' : 'not' }}">❤</span>

      <div class="description">
        <span *ngFor="let desc of food.description">
          {{ desc }}
        </span>
      </div>

      <div class="tags">
        <app-tags [foodPageTags]="food.tags"></app-tags>
      </div>

      <div class="cookTime">
        <span>{{ food.cookTime }} мін.</span>
      </div>

      <div class="price">
        <span>{{ food.price | currency: "₴" }}</span>
      </div>

      <div class="buttons">
        <button class="addToCart" (click)="addToCart()">
          Додати до кошика
        </button>
        <div class="toMenu">
          <a href="/menu">Продовжити замовлення</a>
        </div>
      </div>
    </div>
  </div>
</div>
