<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Оновити пароль</h3>

      <p class="textCenter">Будь ласка, введіть адресу електронної пошти,<br> щоб надіслати запит на відновлення пароля.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Пошта" #passwordResetEmail required>
      </div>
      <div class="formGroup">
        <input type="submit" class="btnPrimary" value="Змінити пароль" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Повернутися назад  <span class="redirect" routerLink="/sign-in">Увійти</span></span>
    </div>

  </div>
</div>
