.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

ul li img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  margin: 0.5rem;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
}

li img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.descriptionItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 19rem;
  font-size: 0.9rem;
  margin-top: 0;
  padding-top: 0;
}

.price {
  font-weight: bold;
}

.name {
  font-weight: bold;
}

a {
  color: black;
}

a:hover {
  color: white;
}
