<app-header class="header"></app-header>

<div class="homePage">
  <div class="logoInfo">
    <img src="../../../../assets/avocadoHome.png" alt="logo" class="logo" />
    <div class="logoText">
      <span class="avocado">Avocado</span>
      <span class="tagline">Коли здорова їжа - це кайф</span>
    </div>
  </div>

  <div class="container">
    <img src="../../../../assets/home-page.JPG" alt="food" class="foodImg" />
    <div class="toMenu">
      <a href="/menu"> Перейти до меню </a>
    </div>
  </div>

  <div class="contactInfo">
    <span><strong>Телефон: </strong>(099) 612 355 03</span>
    <span><strong>Пошта: </strong>avocado@gmail.com</span>
  </div>
</div>
