div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div input {
  border-radius: 2rem 0 0 2rem;
  border: none;
  outline: none;
  height: 25px;
  width: 400px;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 20px;
  font-weight: 500;
}

div button {
  background-color: #46681e;
  width: 100px;
  height: 68px;
  font-size: 20px;
  border-radius: 0 2rem 2rem 0;
  border: none;
  color: white;
}

div button:hover {
  opacity: 0.8;
  cursor: pointer;
}
