<app-header></app-header>

<div *ngIf="cart && !cart.items.length" class="directToMenu">
  Перейти до меню та обрати блюдо
  <a routerLink="/menu" class="menu">Меню</a>
</div>

<div *ngIf="cart && cart.items.length" class="container">
  <ul>
    Ваше замовлення:
    <li *ngFor="let cartItem of cart.items">

      <div class="cartItem">
        <div>
          <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name" />
        </div>
        <div>
          <a routerLink="/food/{{ cartItem.food.id }}">
            {{ cartItem.food.name }}
          </a>
        </div>
      </div>

      <button (click)="decreaseQuantity(cartItem, quantityInput.value)">-</button>
      <div>
        <input
          #quantityInput
          [value]="cartItem.quantity"
          (change)="changeQuantity(cartItem, quantityInput.value)"
          type="number"
          min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
          max="99" oninput="this.value = !!this.value && Math.abs(this.value) <= 99 ? Math.abs(this.value) : null"

        />
      </div>
      <button (click)="increaseQuantity(cartItem, quantityInput.value)">+</button>


      <div class="cartItemPrice">
        {{ cartItem.price | currency: "₴" }}
      </div>

      <div>
        <button class="btnRemove" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>

  <div class="checkout">
    <div>
      <div class="totalCount">{{ cart.totalCount }}</div>
      <div class="totalPrice">{{ cart.totalPrice | currency: "₴" }}</div>
    </div>

    <a routerLink="/send-page">Перейти до оформлення замовлення</a>
  </div>
</div>
