header {
  background-color: white;
  padding: 0px;
  border-bottom: 1px solid #E7CF61;
}

a {
  color: black;
}

a:hover {
  background-color: #E7CF61;
  color: white;
}

.headerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.logo {
  padding: 1em;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li a {
  padding: 1em;
  display: inline-block;
}

.infoUser {
  display: flex;
  flex-direction: column;
  text-align: end;
}


ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul li img {
  width: 20rem;
  height: 20rem;
  border: 1px solid #606064;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #E7CF61;
}

li img:hover {
  opacity: 0.9;
  cursor: pointer;
}
