<header>
  <div class="headerContainer">

    <div class="logo">
      <img src="../../../../assets/avocado.png" alt="logo" class="logoImg" />
      <div class="logoName">Avocado</div>
  </div>
    <!--<a href="#" routerLink="/" class="logoName">Food</a>-->


    <div class="containerMain">
      <nav class="infoUser">

        <div class="user" *ngIf="authService.userData as user">
            <span>{{ user.displayName ? user.displayName : "User" }}</span>
        </div>
        <div class="cartPage">
          <a href="#" routerLink="/cart-page" >
            <img src="../../../../assets/cart.png" alt="cart" class="cartLogo"/>
          </a>
        </div>

        <a class="logOut" (click)="authService.SignOut()"> Log out </a>
      </nav>

    </div>
  </div>
</header>
