<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Зареєструватися</h3>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #userEmail
          required
          class="inputSignUp"
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPwd
          required
          class="inputSignUp"
        />
      </div>

      <div class="formGroup">
        <input
          type="button"
          class="btnSignUp"
          value="Зареєструватися"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
        />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Або</span></span>
      </div>


      <div class="formGroup">
        <button
          type="button"
          class="bthGoogle"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Зареєструйтеся через Google
        </button>
      </div>
      <div class="redirectToLogin">
        <span
          >У вас вже є акаунт?
          <span class="redirect" routerLink="/sign-in">Увійти</span></span
        >
      </div>
    </div>


  </div>
</div>
