<app-header></app-header>

<form method="POST">
  Заповніть форму для доставки

    <fieldset>
        <div>
            <input id="numberName" type="text" placeholder="Ім'я" required>
        </div>
    </fieldset>

    <fieldset>
        <div>
            <input id="numberInput" type="text" placeholder="Номер" required>
        </div>
    </fieldset>

    <fieldset>
        <div>
            <input id="emailInput" type="email" placeholder="email" required>
        </div>
    </fieldset>

    <fieldset>
        <div>
            <textarea id="addressInput" placeholder="Адреса" required></textarea>
        </div>
    </fieldset>


    <fieldset>
        <div>
            <textarea id="messInput" placeholder="Залиш повідомлення"></textarea>
        </div>
    </fieldset>

    <button type="submit">Замовити</button>
</form>

