<app-header></app-header>

<form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
  <legend>Заповніть форму для доставки</legend>
  <fieldset>
    <input
      formControlName="Name"
      type="text"
      placeholder="Ім'я"
      type="text"
      class="form-control"
      name="Name"
      required
    />
  </fieldset>
  <fieldset>
    <input type="text" formControlName="Phone" placeholder="Номер" />
  </fieldset>
  <fieldset>
    <input
      type="email"
      class="form-control"
      name="Email"
      placeholder="Email"
      formControlName="Email"
    />
  </fieldset>
  <fieldset>
    <textarea formControlName="Address" placeholder="Адреса"></textarea>
  </fieldset>
  <fieldset>
    <textarea
      name="user_message"
      placeholder="Залиш повідомлення"
      class="form-control"
      formControlName="Comment"
    ></textarea>
  </fieldset>
  <button
    type="submit"
    type="submit"
    class="btn btn-primary"

  >
    Замовити
  </button>
</form>
