<form method="POST">
  Заповніть форму для доставки
    <fieldset>
        <div>
            <input type="text" name="Ім'я" required>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input id="537543589" type="text" name="entry.537543589" class="form-control" required>
        </div>
    </fieldset>

    <fieldset>
        <legend for="974221809">Phone Number</legend>
        <div class="form-group">
            <input id="1896829488" type="text" name="entry.1896829488" class="form-control" required>
        </div>
    </fieldset>

    <fieldset>
        <legend for="238925373">Email</legend>
        <div class="form-group">
            <input id="950221048" type="text" name="entry.950221048" class="form-control" required>
        </div>
    </fieldset>

    <fieldset>
        <legend for="1047002267">Address</legend>
        <div class="form-group">
            <textarea id="138512886" name="entry.138512886" class="form-control" required></textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend for="631056689">Preferred Contact</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.981370794" value="Email" required>
                    Email
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.981370794" value="Phone" required>
                    Phone
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend for="1171934047">Your massage</legend>
        <div class="form-group">
            <textarea id="1895304209" name="entry.1895304209" class="form-control" required></textarea>
        </div>
    </fieldset>
